@model List<StoRvStar.Models.Entities.ServiceRequest>

<h2>Список заявок</h2>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Авто</th>
            <th>Послуги</th>
            <th>Сума</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>

                <td>
                    @r.Car?.Brand @r.Car?.Model
                </td>

                <td>
                    @foreach (var item in r.ServiceItems)
                    {
                        <div>
                            • @item.Service?.Name (@item.Service?.Price грн)
                        </div>
                    }
                </td>

                <td>
                    <b>@r.TotalPrice грн</b>
                </td>

                <td>
                    @r.Status
                </td>
            </tr>
        }
    </tbody>
</table>